* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1920px;
  letter-spacing: 3px;
  font-size: 20px;
}

input,
button {
  font-family: inherit;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

header {
  max-width: 1920px;
  height: 200px;
  padding: 0 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  column-gap: 115px;
  list-style-type: none;
  align-items: center;
}

.nav-list li {
  font-size: 30px;
  text-align: center;
  font-family: Carattere;
}

.nav-list li a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.nav-list li:hover a {
  color: red;
  cursor: pointer;
}

.banner {
  margin-bottom: 50px;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  letter-spacing: 15px;
  font-family: Carattere;
  text-align: center;
  margin-bottom: 50px;
}

.my-photo {
  width: 450px;
  border-radius: 50%;
}

.about-me,
.skills,
.languages,
.contacts,
.code-example,
.projects,
.education,
.code-example {
  padding-top: 50px;
  border-top: 5px dotted black;
  margin-bottom: 50px;
}

.code-example {
  border-bottom: 5px dotted black;
  margin-bottom: 0;
}

.section-header {
  font-size: 40px;
  margin-bottom: 25px;
  font-family: Carattere;
}

.contacts-list,
.skills-list,
.languages-list {
  list-style-position: inside;
}

.university span {
  font-weight: bold;
  font-style: italic;
}

.footer {
  max-width: 1920px;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.cv-year {
  font-size: 40px;
}

.link-github {
  color: #000;
  font-size: 40px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link-github:hover {
  cursor: pointer;
  color: red;
}

.logo-rsschool {
  width: 150px;
  transition: all 0.2s ease-in-out;
}

.logo-rsschool:hover {
  cursor: pointer;
  transform: scale(125%);
}